.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.list-container {
  list-style-type: none;
  width: 300px;
  background-color: white;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title {
  font-size: 20px;
  color: #171f46;
  font-family: 'Roboto';
}

.img-container {
  display: flex;
  justify-content: flex-end;
}

.des-text {
  font-size: 10px;
  color: #64748b;
}

.img {
  height: 80px;
  width: 80px;
}
