* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Write CSS code here */

.app-container {
  display: flex;
  justify-content: center;
  background-color: #f4faff;
  align-items: center;
  min-height: 100vh;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 48px;
}

.heading {
  text-align: center;
  color: #171f46;
  font-family: 'Roboto';
  font-size: 48px;
  font-weight: bold;
}

.description {
  text-align: center;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 18px;
  margin-top: 24px;
  max-width: 625px;
}

.list-con {
  width: 750px;
  display: flex;
  flex-wrap: wrap;
}
